<phpunit bootstrap="bootstrap.php" convertErrorsToExceptions="true" stopOnFailure="true" cacheResult="false">
    <testsuites>
        <testsuite name="OurBlog">
            <directory>OurBlog</directory>
        </testsuite>
        <testsuite name="BaseDbTables">
            <directory>BaseDbTables</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>../OurBlog/lib/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="report"/>
    </logging>
</phpunit>
