.w100 {
    width: 100px;
}
.mw400 {
    max-width: 400px;
}
.mw1500 {
    max-width: 1600px;
}
.margin-center {
    margin-left: auto;
    margin-right: auto;
}
.mar-hor-lg {
    margin-left: 30px;
    margin-right: 30px;
}
.post-list > a {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #515151;
}
